.postContainer {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem;
  border: 1px solid black;

  div {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 0.5rem;
  }
}

.commentsAndInputContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  height: calc(70vh - 5rem);
  // padding: 1rem 0;
}
